﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <h3>Manikanteswara Rao Earla</h3><br />
    1115 N Clg Dr,Apt 73, <br>
    Maryville, MO 64468<br />
    <abbr title="Phone">P:</abbr>
    660.528.0910
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:Support@example.com">s528120@nwmissouri.edu</a><br />
   
</address>
